/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

body {
    margin: 0px;
    box-sizing: border-box;
    background: #53777A;
    /* background: #ECD078; */
    font-family: 'freighttextbook', 'Quattrocento Sans', sans-serif;
    color: #111;
    text-decoration: none;
    font-weight: 400;
}
